#home div .ui-grid-a .ui-block-a {
	text-align: center;
	vertical-align: middle;
}

#home div .ui-grid-a .ui-block-b {
	text-align: center;
	vertical-align: middle;
}

#home div .ui-grid-a .ui-block-a a {
	text-decoration: none;
}
#home #popupDosage {
	text-align: center;
	height: 300px;
	width: 300px;
	vertical-align: middle;
	padding:25px 40px;
}
#home #popupDosage form .ui-btn.ui-corner-all.ui-shadow.ui-btn-b.ui-btn-icon-left.ui-icon-check {
	width: 150px;
	text-align: center;
	vertical-align: middle;
}
#home div .ui-grid-a .ui-block-b a {
	text-decoration: none;
}
#home #popupDosage form div {
	text-align: center;
	vertical-align: middle;
}
#home #popupInr {
	text-align: center;
	height: 300px;
	width: 300px;
	vertical-align: middle;
	padding:25px 40px;
	}