#home div .ui-grid-a .ui-block-a {
	text-align: center;
	vertical-align: middle;
}

#home div .ui-grid-a .ui-block-b {
	text-align: center;
	vertical-align: middle;
}

#home div .ui-grid-a .ui-block-a a {
	text-decoration: none;
}
#home #popupDosage {
	text-align: center;
	height: 200px;
	width: 200px;
	vertical-align: middle;
	padding:25px 40px;
}
#home div .ui-grid-a .ui-block-b a {
	text-decoration: none;
}
#home #popupDosage form div {
	text-align: center;
	vertical-align: middle;
}
#home #popupInr {
	text-align: center;
	height: 200px;
	width: 250px;
	vertical-align: middle;
	padding:25px 20px;
	}
#home div .footer {
	height: 100px;
}
#home #myfooter {
	height: 50px;
}
#inr #myfooter {
	height: 50px;
}
#myfooter {
	height: 50px;
}
#footnav {
	height: 50px;
}
.inrval {
	text-align:center;
}
.divcentered {
	text-align: center;
	width: 70%;
	padding-left:15%;
}
#credits div .divcentered form {
	text-align: center;
}
