<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "ro.digitype.sintrom"
    version   = "1.0.0">
<icon src="images/icon-57.png"          gap:platform="ios" width="57"  height="57"  />
<icon src="images/icon-ip.png"    gap:platform="ios" width="114" height="114" />
<gap:splash gap:platform="ios" height="960" src="images/splashp.png" width="640" />


<name>Sintrom</name>

<description>
Application for Sintrom patients
</description>

<author href="http://www.digitype.ro" email="office@digitype.ro">
Digitype Web Agency
</author>



</widget>
